{% extends 'base.html' %}

{% block content %}
        
        <!-- Edit Book Form -->
        <div class="container form-container mt-5">
            <a href="{% url 'edit_go_back' book.store_id %}" class="btn btn-secondary">Go Back</a>
            {% include 'includes/messages.html' %}

            <h2 class="text-center pb-3">Edit Book</h2>
            <hr>
            {% if book %}
            <form class="row g-3 needs-validation" action="{% url 'update_book' book.id  %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-12">
                    <label for="book_name" class="form-label">Book Name</label>
                    <input type="text" class="form-control" id="book_name" name="book_name" value="{{ book.book_name }}" required>
                </div>
                <div class="col-12">
                    <label for="author_name" class="form-label">Author Name</label>
                    <input type="text" class="form-control" id="author_name" name="author_name" value="{{ book.author_name }}" required>
                </div>
                <div class="col-12">
                    <label for="publisher_name" class="form-label">Publisher Name</label>
                    <input type="text" class="form-control" id="publisher_name" name="publisher_name" value="{{ book.publisher_name }}" required>
                </div>
                <div class="col-12">
                    <label for="num_of_copies" class="form-label">Number Of Copies</label>
                    <input type="number" class="form-control" id="num_of_copies" name="num_of_copies" value="{{ book.num_of_copies }}" required>
                </div>
                <div class="col-12">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" class="form-control" id="price" name="price" value="{{ book.price }}" required>
                </div>
                <div class="col-12">
                    <label for="book_image" class="form-control">Upload Book Image</label>
                    <small class="text-danger">Note : You need to upload the image again !</small>
                    <br>
                    <input type="file" name="book_image" id="book_image" required>
                </div>
                <div class="col-12 d-grid gap-2 my-4">
                    <button class="btn btn-primary" type="submit" name="submit">Submit</button>
                </div>
            </form>
            {% endif %}
        </div>

{% endblock %}