{% extends 'base.html' %}

{% block content %}

<div class="container form-container-log-reg my-5 pb-3">
    {% include 'includes/messages.html' %}
    <h3 class="text-center mb-3">Login</h3>
    <hr>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="mb-5">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        
        <button type="submit" name="submit" class="btn btn-primary w-100 mb-2">Submit</button>

        <small>
            <a href="{% url 'register' %}">Don't have an account ? Register here</a>
        </small>
    </form>
</div>

{% endblock %}